<!DOCTYPE html>
<html lang="en">
<head>
  <title>Про техніку</title>
  <meta charset="utf-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stile.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-warning">
<!-- Black background with white text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/Golovna">Головна</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/notebooks">Ноутбуки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Computer">Компютери</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Mouse">Мишки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Headphones">Навушники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form>
        <label class = "nav-in-text" >Пошук🔍</label>
        <input type="text" class="input-text"  >
    </form>
    </div>
</nav>
<h1>Про компютери </h1>
<h5>Першим комп'ютером в історії вважається машина для підрахунків Блеза Паскаля, винайдена 1642 року. Це був перший примітивний калькулятор, який допомагав складати та віднімати. Придуманий Паскалем "комп'ютер" назвали "Паскаліна".
<img src="https://bastion.tv/uploads/media_file/2020/07/5f0988e722cf9833393861.jpg?w=640&il&q=60&output=jpg&fit=cover&a=top&v=86" class="img-notebook">
</h5>
<h5>Винахід Паскаля отримав вдосконалення 1671 року. Німецький математик Густав Лейбніц винайшов арифмометр, який виконував не дві, а чотири дії.
<img src="https://bastion.tv/uploads/media_file/2020/07/5f0988fa9fc44870248948.jpg?w=640&il&q=60&output=jpg&fit=cover&a=top&v=86"class="img-notebook">
</h5>
<h5>Епоху цих первісних і древніх як динозаври комп'ютерів переривають перші ЕОМ, створення яких почалося з 30-х років. Це були громіздкі, незручні у використанні, але прогресивні для свого часу, комп'ютери. Один з головних мінусів лампових комп'ютерів був якраз в цих самих лампах. В одному пристрої їх було близько 15-30 тисяч і в разі їх ламання, потрібно було багато часу і зусиль, щоб знайти нові.
<img src="https://bastion.tv/uploads/media_file/2020/07/5f098909466b9316669265.jpg?w=640&il&q=60&output=jpg&fit=cover&a=top&v=86"class="img-notebook">
</h5>
<h5>В 60-х роках було винайдено транзистор — перший напівпровідник, що замінив електронну лампу. Тепер габарити комп'ютерів значно зменшилися, а їх пам'ять становила кілька десятків тисяч слів. Винахід транзистора посприяв сплеску в розвитку комп'ютерів.

У 70-ті роки комп'ютер, нарешті, став персональним і доступним. Це стало можливим, бо в 1972 році був створений 8-розрядний мікропроцесор, який використали в комп'ютерах.
<img src="https://bastion.tv/uploads/media_file/2020/07/5f09893e9a670403458686.jpg?w=640&il&q=60&output=jpg&fit=cover&a=top&v=86"class="img-notebook">
</h5>
<h5>З кінця 60-х і до кінця 70-х історія створення комп'ютера належить епосі інтегральних схем. Тоді комп'ютер наблизився до того ПК, який ми маємо сьогодні.
У другій половині 70-х років створення комп'ютера, який був доступним кожному, перестало бути проблемою. Два студенти — Стівен Джобс і Стів Возняк, американець з українським корінням, створили в гаражі "Клуб саморобних комп'ютерів", який пізніше перетвориться в корпорацію "Apple Computer". Це був перший комп'ютер, націлений на простих покупців. ПК не треба було збирати самому, він продавався готовим до використання. Ідея персонального комп'ютера стала супер успішною, а товар популярним.
<img src="https://bastion.tv/uploads/media_file/2020/07/5f09892b18c93566923304.jpg?w=640&il&q=60&output=jpg&fit=cover&a=top&v=86"class="img-notebook"
     Але й зараз розвиток комп'ютера не закінчився і, цілком можливо, що вже завтра цей пристрій зміниться до невпізнання.
</h5>

<div class="text-footer">
  <p>Максим Крук 2024</p>
</div>

</body>

</html>