<!DOCTYPE html>
<html lang="en">
<head>
  <title>Про техніку</title>
  <meta charset="utf-8">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='stile.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body class="bg-warning">
<!-- Black background with white text -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="/Golovna">Головна</a>
      </li>
     <li class="nav-item">
        <a class="nav-link" href="/notebooks">Ноутбуки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Computer">Компютери</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Mouse">Мишки</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Headphones">Навушники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#"></a>
      </li>
    </ul>
    <form>
        <label class = "nav-in-text" >Пошук🔍</label>
        <input type="text" class="input-text"  >
    </form>
    </div>
</nav>
<h1>Про навушники</h1>


<h5>Ідея навушників у 19 столітті буквально витала у хмарах. У 1875 році Олександр Белл патентує телефон, винахід швидко набуває популярності. Виникає безліч моделей апаратів та аксесуарів для них. Одним із них стали навушники француза Ернеста Меркадьє. Цікаво, що вони були у формі «затичок». Поряд з цим в Англії виникає компанія Electrophone System, яка встановлює мікрофони в концертних залах і пропонує абонентам по телефону слухати симфонії та театральні п'єси з підписки – 5 фунтів на рік. А за додатковий фунт можна підключити і другий динамік, що робить затребуваними навушники.
<img src="https://zhuk.ua/content/uploads/images/q93_45c2e0a0909be14cb88f32297698aeb7f3c65690ae9e155b79461c2dcd284eee.png"class="img-notebook">
</h5>
<h5>Вдруге навушники знадобилися світу разом із появою радіо. На початку століття американський інженер-електрик Натаніель Болдуїн патентує комплект головних телефонів із п'єзоелектричним гучномовцем і дуже високим імпедансом — близько 8 тисяч! Відмінна якість звуку дозволило моделі знайти своє місце в історії: навушники знаходять застосування у військових. ВМС США замовляє 100 пар, навіть не підозрюючи, що винахідник робить їх вручну на кухні.

Динамічний гучномовець з'явився тільки в 1925 році, приблизно одночасно з підсилювачем та електричним фонографом. З'являється потреба в навушниках з такими параметрами як звучання, надійність і комфорт — причому не тільки для військових, а й для студій звукозапису. В 1937 році - Beyerdynamic випускає перші динамічні навушники DT-48.
<img src="https://zhuk.ua/content/uploads/images/bez-nazvanija%286%29.jpg"class="img-notebook">
</h5>
<h5>Всі навушники до початку шістдесятих вміли грати музику лише в моно. По-перше, найчастіше вони використовувалися льотчиками та військовими, по-друге, сама музика також була переважно в моно. Не дивно, що коли до інженера Джона Косса прийшов друг, якому необхідно було послухати бінауральний запис на магнітній плівці, вони не змогли знайти придатні для цього навушники. Довелося зробити свої. Модель Koss SP-3 здійснила справжню революцію та відкрила світові персональне аудіо. Навушники Koss домінували на цьому ринку всі шістдесяті, а в 1984 році компанія представила ще одну культову модель - Porta Pro, яка без будь-яких змін випускається досі.
<img src="https://zhuk.ua/content/uploads/images/2904876.jpg"class="img-notebook">
</h5>
<h5>1968 - Sennheiser випускає перші відкриті навушники HD 414
Тільки за перший рік було продано понад сотню тисяч екземплярів, а за весь час – рекордні 10 мільйонів. Ці навушники підвели світ до епохи портативного аудіо і стали одними з перших навушників Hi-Fi.
<img src="https://zhuk.ua/content/uploads/images/87412f33501136a5901d319be93c6121.jpg"class="img-notebook">
</h5>
<h5>1979 - Sony випускає Walkman і навушники MDL-3L2
Навушники поставляються разом із плеєром, але в окремій коробці. Це комбо миттєво підкорює світ, повністю змінюючи уявлення, як можна слухати музику. Вона тепер доступна не тільки в кімнаті з магнітофоном і колонками, а й у дорозі, на природі, в польоті де завгодно.
1979 - Bose винаходить навушники з шумозаглушенням
Відповідно, перші 20 років технологія розвивалася і застосовувалася в основному в навушниках для льотчиків, військових, будівельників та інших фахівців, які стикаються з постійним набридливим шумом. Лише в 2000 році виходять у світ перші навушники з шумозаглушенням для рядових споживачів - Bose QuietComfort, а ще через якийсь час технологію доопрацюють до вражаючих результатів.

1995 - звукач Van Halen винаходить прототип сучасних «затичок»
Наприкінці п'ятдесятих компанія Westone розпочинає виробництво слухових апаратів із внутрішньоканальною конструкцією. У середині вісімдесятих разом із Sony вони випускають перші навушники, а через кілька років спільно з Shure роблять для музикантів вушні монітори з арматурною конструкцією.
<img src="https://zhuk.ua/content/uploads/images/q93_158625160d280bfcdae884291dacfb5b22e6b4af37897aab1dd99569b7ef68b9.png"class="img-notebook">
</h5>
<h5>2005 - Bluetake випускає перші бездротові навушники i-PHONO BT420EX
Ще на початку дев'яностих компанія Koss випускає навушники JCK-300, які підключаються до джерела через ІЧ-порт.
Спочатку новинка годилася, щоб говорити по телефону, але поступово наростила швидкість передачі даних для потокового аудіо.
Першими по-справжньому бездротовими (True Wireless) навушниками стали Apple AirPods.
<img src="https://zhuk.ua/content/uploads/images/bluetake-iphono-main.jpg"class="img-notebook">
</h5>
<h5>2011 - Razer випускають перші у світі навушники Tiamat 7.1
Новинка не випадково випущена виробником геймерської периферії та представлена ​​на Gamescom 2011: об'ємний звук дає реальну перевагу в іграх.
<img src="https://zhuk.ua/content/uploads/images/1%281065%29.jpg"class="img-notebook">
    Не можна не відзначити, що на початку нового тисячоліття навушники з пристрою незграбної конструкції перетворилися на аксесуар зі стильним дизайном. За це варто дякувати компанії Apple, Bose та Beats by Dr. Dre — найменш консервативних виробників, які сміливіше експериментують з дизайном і завжди прагнуть наділити свої продукти новітніми технологіями: Bluetooth, голосове управління і розумні функції.
</h5>
<div class="footer">
  <p>Максим Крук 2024</p>
</div>
</body>
</html>